@helper DisplaySubcategory(string name)
{

    if (name == null)
    {
        <span style="color: red">No SubCategory</span>
    }
    else
    {
        <span class="subCategory">@($"{name}")</span>    
    }

}

